body{
    background-image: url(image/flower.jpg);
    margin:0;
}

ul{ 
    margin:0;
    padding:0;
}

header {
    background-color: rgba(254,211,202,0.3);
    padding-top:25px;
    padding-bottom:25px

}

header a {
    text-decoration: none;
    color:black;
}

header li {
    display:inline-block;
    margin-left: 20px;
    marging-right:20px;
    width:31%;
    text-align: center;
    font-family:'Quicksand', sans-serif;
    letter-spacing:7px;
}
div{
    margin:auto;
}

h1{
    text-align: center;
    font-weight: 100;
    font-family:'Quicksand', sans-serif;
}
h2{
    text-align: center;
    letter-spacing:7px;
    font-weight: 100;
    font-family:'Quicksand', sans-serif;
}
h3{ 
    text-align: center;
    font-weight: 100;
    font-family:'Quicksand', sans-serif;
}
    
p{
    text-align: center;
    font-weight: 100;
    font-family:'Quicksand', sans-serif;
}
p a {
    text-align: center;
    font-weight: 100;
    font-family:'Quicksand', sans-serif;
    text-decoration: none;
    color:rgb(207,107,105);
}
footer{
    background-color: rgba(254,211,202,0.3);
    padding:0;
    margin:0;
    position:absolute;
    bottom:0px;
    width:100%;
}

footer a{
    margin-top: auto;
    vertical-align: middle,
    
}

    